@charset "UTF-8";
/* CSS Document for mainstyles to be used with every web page */
header {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.2em;
    padding: 0.1em;
    text-align: center;
    font-size: 80px;
}
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.right {
    display: block;
    margin: 10px 10px 15px 20px;
    float: right;
}

img.left {
    display: block;
    margin: 10px 20px 15px 10px;
    float: left;
}

img {
    padding: 0.2em;
    margin-left: 30px;
    margin-top: 10px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: khaki;;
}

.navbar_link {
    float: left;
}

.navbar_link a{
    display: block;
    border-right: 1px solid khaki;
    color: antiquewhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: black;
}
.navbar_link:last-child {
    border-right: none;
}

.navbar_link a:hover:not(.active) {
    opacity: 0.4;
    color: antiquewhite;
}

.active {
    background-color: darkkhaki;
}

h1{
    margin-left: auto;
    padding: 0.1em;
    font-size: 50px;
}

p {
    font-size: 25px;
}

label {
    float: left;
    width: 5em;
    text-align: left;
    margin-right: 10px;
}

table {
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

th {
    font-style: normal;
    font-size: 25px;
    background-color: cornsilk;
    height: 20px;
    padding: 10px;
}

td {
    font-size: 20px;
    background-color: cornsilk;
    padding: 15px;
}

body {
    background-color: khaki;
    text-align: left;
    font-weight: 400;
    margin-left: 1em;
    margin-right: 1em;
    padding: 0.1em;
}

input[type=submit]{
    width: auto;
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: #45a049;
}

input[type=reset]{
    width: auto;
    background-color: #b22222;
    color: white;
    padding: 15px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=reset]:hover{
    background-color:#b30000;
}

